html
{
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

body
{
    margin: 0;

}

.gridwrapper
{
    display: grid;
    grid-template: repeat(6, auto);
}

.spacer
{
    grid-row: 1;
    grid-column: 1;
    height: 85vh;
    min-height: 860px;
}

.aboutme
{
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column: 1;
    height: 100vh;
    min-height: 910px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-image: linear-gradient(to bottom right, rgb(68, 117, 182), rgb(231, 226, 226));
}

.profile
{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
    animation-name: enteringProfile;
    animation-duration: 1.5s;
}

@keyframes enteringProfile
{
    0%{transform: scale(0.4)}
    100%{transform: scale(1)}
}

.picture
{
    width: 30%;
    min-width: 250px;
    min-height: 250px;
}

hr
{
    border-color: black;
}

.description
{
    width: 40%;
    min-width: 500px;
    font-size: 25px;
    height: 100%;
    max-height: 55vh;
    padding: 5px;
}

@media only screen and (max-width: 1368px)
{
    .description
    {
        font-size: 20px;
    }

    .job
    {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 780px)
{
    .description
    {
        font-size: 18px;
    }

    .job
    {
        font-size: 0.65rem;
    }
}

@media only screen and (orientation: portrait)
{
    .aboutme
    {
        align-items: flex-start;
    }

    .item
    {
        flex-basis: 80px;
        margin: 0 5px;
    }

    .text span
    {
        font-size: 15px;
    }
}

.header
{
    position: sticky;
    top: 0;
    display: flex;
    flex: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1;
    z-index: 2;
    height: 50px;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    
}

.item
{   
    height: 55%;
    flex-basis: 125px;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    transition: border-radius 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    background-color: darkgray;
    transform: skew(-20deg);
    margin: 0 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
}

.text
{
    transform: skew(20deg);
    text-align: center;
    
}

.item:hover
{   
    transform: skew(0deg);
    background-color: gray;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}

.item > .text:hover
{
    transform: skew(0deg);
}

.wrapper2
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
    background-image: url(skills.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 910px;
}

.skills_wrapper
{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(230, 230, 230, 0.7);
}

.skills
{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;

}

.skill
{
    width: 23%;
    height: auto;
    margin: 15px;
    min-width: 70px;
}

.skill_img
{
    width: 100%;
    height: auto;
}

.experience
{
    background-color: rgba(41, 82, 163, 0.9);
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    color: white;
}

.jobs
{   
    height: 80%;
    width: 100%;
    display: flex;
    top: 4rem;
    position: relative;
    flex-direction: column;
}

.job
{
    display: block;
    padding: 20px;
    height: auto;
}

.jobtitle
{
    font-size: 1.5rem;
}

.date
{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
}

.portfolio
{
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

.container
{
    margin-top: 4rem;
    position: relative;
    justify-content: center;
}

.row
{
    text-align: center;
}

.row > *
{
    transition: transform 0.2s ease-in-out;
}

.row > *:hover
{
    transform: scale(1.15);
}

.portfolioItem
{
    display: inline-flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 22px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
    width: auto;
    height: auto;
}

.caption
{
    background-color: aliceblue;
    color: black;
    height: 3rem;
    padding-left: 5px;
    padding-right: 5px;
}

.img-fluid
{
    width: 100%;
    height: auto;
}